.background{
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.logo{
  font-size: x-large;
  position:absolute;
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-family: 'Baloo Paaji', cursive;
  float: left;
  top: 0;
  left: 0;
  padding-top: 100px;
}

.logo-image{
  height: 100px;
  width: 100px;
  padding-left: 50px;
}

.header-para1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #444;
  margin-bottom: 5px;
  position: relative;
  display: block;
  padding-top: 200px;
  padding-left: 500px;
}

.header-para2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 0;
  position: relative;
  color: rgb(50, 48, 48);
  display: block;
  padding-left: 500px;
}

.header-subtitle {
  font-family:"Gill Sans", sans-serif;;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 3px;
  padding-left: 500px;
  }

  #button{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 150px;
  height: 40px;
  background-color: blueviolet;
  color: white;
  margin-left: 500px;
  border-radius: 30px;
  border-style: none;
  font-size: large;
  font-weight: 400;
  }

  .image{
  height: 600px;
    
  }

  .about{
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #939292;
  }

#buttoncv{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border-width: 1px;
  font-weight: 500;
  font-size:85%;
  color: blueviolet;
  background-color: white;
}

#buttoncv:hover{
  background-color: blueviolet;
  color: white;
  border-style: none;
}

.href{
  text-decoration: none;
  color: white;
}

.service{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #939292;
  padding-left: 515px;
}

.service-heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 45px;
  color:rgb(95, 0, 184);
  padding-left: 485px;
  font-weight: 700;
}

.main-container{
  margin-left: 150px; 
  border-width: 1px; 
  border-style: hidden;
  height: 200px;
  width: 840px;
}

.container{
  display: inline-block;
  border-width: 1;
  border-style: solid;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.container-image{
  padding-top: 20px;
  padding-left: 35px;
  width: 130px;
  height: 130px;
}

.container-text{
  padding-left: 60px;
  color: black;
  font-size: 20px;
  font-weight: 600;
}